<div class="hello">
    <a href="https://www.gmail.com"> Gmail</a>
    <a href="https://www.gmail.com"> Google drive</a>
</div>


<div class="text-center py-5">
    <h1><span style="color:blue">G</span><span style="color:red">o</span><span style="color:yellow">o</span><span style="color:blue">g</span><span style="color:green">l</span><span style="color:red">e</span></h1>
    <div class="d-flex justify-content-center mt-3">
        <div class=" w-50">
            
            <input type="search" class=" form-control rounded-0" />
        </div>
    </div>


    <div class="shortcut">
        <input type="submit" value="+" class="" />  
        <p>Add shortcut</p>
        
    </div>
</div>



<style>
    .hello a {
        padding: 1.5rem;
        float: right;
        justify-content: right;
        padding: 1.5rem;
    }

  
    h1 {
        font-size: 8rem;
        font-family: Arial, sans-serif;
    }

    .rounded-0 {
        border-radius: 20px !important;
    }

    .form-control:focus {
        box-shadow: none !important;
    }
    .shortcut{
        height:50px;
        width:auto;
       
    }

    .shortcut input {
        margin-top:1rem;
        height:50px;
        background-color: white;
        color: black;
        border: none;
        padding: 2rem 1rem;
        cursor: pointer;
       
        
    }

            .shortcut input:hover {
                background-color: lightgray;
                border-radius:200px;
            }
</style>